*.*
!.vscode
!*.json
!*.code-snippets

## Handlers & defs
!str_hand.def
!op_hand.def
!flowctrl.def

## Modules
!utils.msa
!string.msa
!math_ops.msa
!UI_V2.msa

## main
!maintest.msa

## debug & testing
!debug.msa
!clear.msa
#!test_*.msa

TP5*
TP3*

!README.md
!.gitignore